* {
  overflow-y: hidden;
  font-family: Helvetica, serif;
}


.hidden {
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.4s linear;
  opacity: 0;
}

.visible {
  visibility: visible;
  transition: visibility 0.3s, opacity 0.4s linear;
  opacity: 1;
}
body {
  background: linear-gradient(to right, #430b2d, black);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  box-shadow: 0 14px 28px rgb(70, 0, 39), 0 10px 10px rgb(48, 0, 28);
  border-radius: 10px;
  background-color: rgb(43, 43, 43);
}

.container > * {
  margin: 5px 0;
}

.container #phone_number_field,
#otp_code_field {
  height: 30px;
  width: 300px;
  border: solid 1.5px #1a0808;
  border-radius: 5px;
  margin: 5px 0;

}

#info,
#name,
#email,
#prn,
#branch {
  height: 30px;
  width: 300px;
  border: solid 1.5px #000000;
  border-radius: 5px;
  margin: 5px 0;
}

#verification-form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container button {
  background-color: #bd026c;
  border: none;
  height: 40px;
  width: 250px;
  color: white;
  font-size: 16px;
  transition: 0.2s linear;
  margin: 10px 0;
  border-radius: 5px;
}
#prn::-webkit-inner-spin-button,
#prn::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.container button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s linear;
}
.display__none {
  display: none !important;
}

input {
  display: block;
}

h1 {
  color: #ffffff;
}
